*{
  font-family: 'Orienta', sans-serif;
  color: whitesmoke !important;
}

.App {
  /* text-align: center; */
  
}
header{
  text-align: center;
}

h1{
  font-weight: 500;
  position: relative;  
	font-size: 200%;
	line-height: 40px;
	padding: 1%;
  text-align: center;
	color:white;
}

img{
  display: block;
}


.temp{
  font-size: 150%;
  font-weight: 400;
  /* margin-top: 0; */
  /* display:inline;
  flex-direction: column; */
}

.weatherMain{
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 0;
}