*{
  font-family: 'Orienta', sans-serif;
  color: whitesmoke !important;
}

.App {
  /* text-align: center; */
  
}
header{
  text-align: center;
}

h1{
  font-weight: 500;
  position: relative;  
	font-size: 200%;
	line-height: 40px;
	padding: 1%;
  text-align: center;
	color:white;
}

img{
  display: block;
}


.temp{
  font-size: 150%;
  font-weight: 400;
  margin: auto 0;
  /* margin-top: 0; */
  /* display:inline;
  flex-direction: column; */
}

.weatherMain{
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 0;
}

.weatherComponents{
  background-color: rgba(0,0,0,0.5);
  padding: 7%;
  width: 50%;
  text-align: center;
}

.weatherComponentsText{
  font-size: 85%;
}

.cardStyle{
  width: 16.66%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 1%;
}

.weatherWeekComponents{
  background-color: rgba(0,0,0,0.5);
  padding: 1%;
  width: 23%;
  text-align: center;
  margin-right: 2%  !important;
  margin-bottom: 2% !important;
  border-radius: 5%;
}
